@import url('https://fonts.googleapis.com/css2?family=Andika&family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*body {
    background-color: #1a1a1a;
    color: white;
}*/

.Header {
    text-align: center;
    background-color: rgb(6, 6, 7);
    color: white;
    /*background-image: url(""); I tired of trying to find some good background*/
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 80px;
    height: 60vh;
}

.Header h1 {
    font-size: 70px;
    font-weight: 700;
    padding: 20px;
}

.Header p {
    font-size: 24px;
    font-weight: 200;
    padding: 30px;
}

.Header button {
    background-color: #008000;
    color: white;
    font-size: 2vw;
    border-radius: 10px;
    padding: 10px 26px;
    border: 0;
}

.Header button p {
    padding: 0;
    font-size: 12px;
}

.Header button:hover {
    background-color: #04b304;
}

.Box {
    /*background-color: #050505;*/
    padding: 20px;
    display: flex;
}

.Box .image {
    background-color: #050505;
    padding: 10px;
    width: 100%;
}

.info {
    /*background-color: #050505;*/
    color: #070336;
    padding: 60px 0;
    width: 100%;
}

.info h4 {
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px 0;
}

.info p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    width: 70%;
    padding: 10px 0;
}

.InfoBox {
    padding: 100px 20px;
    color: #070336;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.InfoBox h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5vh;
    padding: 30px 0;
}

.InfoBox p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.InfoBox .Suggest {
    margin: 20px 0;
    padding: 14px 40px 16px;
    color: #070336;
    background-color: rgb(231, 209, 8);
    border-radius: 10px;
    font-size: 24px;
    border: 0;
}

.InfoBox .Suggest:hover {
    background-color: rgb(255, 230, 0);
}

.GitHubBox {
    margin: 20px 0;
    background-color: #f5f1f1;
    border-radius: 20px;
    padding: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

.GitHubBox h3 {
    font-size: 30px;
}

.GitHubBox p {
    padding: 20px 0;
}

.image {
    margin: 40px 0;
    padding: 40px;
    background-color: #f5f1f1;
    border-radius: 20px;
}

.image:hover {
    background-color: #f1e9e9;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.Requirements {
    padding: 20px;
    display: flex;
}

.Requirements .RequirementBox {
    padding: 30px 40px;
    margin: 20px;
    background-color: #f5f1f1;
    border-radius: 20px;
}

.Requirements .RequirementBox h3 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.Requirements .RequirementBox ul {
    padding: 20px;
    font-family: 'Andika', sans-serif;
}

.Requirements .line {
    height: 100%;
    border-right: 2px solid black;
}

footer {
    background-color: rgb(250, 247, 247);
    color: #070336;
    padding: 30px 10px;
    border-radius: 40px 40px 0 0;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

footer p {
    padding: 0 0 30px 0;
}

.PrivacyPolicyHeader {
    padding: 120px 20px;
    color: #070336;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.PrivacyPolicyHeader h1 {
    padding: 40px 0;
    font-size: 8vh;
}

.PrivacyPolicyHeader p {
    font-size: 22px;
    padding: 10px 0;
}

.PrivacyPolicyText {
    color: #070336;
    padding: 20px 100px 100px 100px;
    font-family: 'Source Sans Pro', sans-serif;
}

.PrivacyPolicyText h2 {
    font-size: 5.4vh;
    padding: 40px 0 10px 0;
}

.PrivacyPolicyText h3 {
    font-size: 4vh;
    padding: 20px 0 10px 0;
}

.PrivacyPolicyText p {
    padding: 8px 0;
    font-size: 23px;
}